<div class="row">
  <div class="col-12">
    <% if flash[:notice]%>
      <%- flash[:notice]%>
    <% end%>
    <h1><%= @my_project.name%></h1>
      <ul>
        <%@time_entries.each do |time_entry| %>
          <li>
            <p>Total time: <%= time_entry.hours%>:<%= time_entry.minutes%></p>
            <p>Comments: <%= time_entry.comments%></p>
            <p>Date: <%= time_entry.date%> </p>
            <%= link_to "edit", edit_project_time_entry_path(@my_project, time_entry)%>
            <%= link_to "delete", project_time_entry_path(@my_project, time_entry), method: :delete, data: {confirm:'Are you sure?'}%>
          </li>
        <%end%>
      </ul>
  </div>
</div>
