<div class="row">
  <div class="col-12">
    <h1><%= @my_project.name%></h1>
      <ul>
        <%@time_entries.each do |time_entry| %>
          <li>
            <p>Total time: <%= time_entry.hours%>:<%= time_entry.minutes%></p>
            <p>Comments: <%= time_entry.comments%></p>
            <p>Date: <%= time_entry.date%> </p>
            <%= link_to "edit", time_entry_edit_path(@my_project, time_entry)%>
          </li>
        <%end%>
      </ul>
  </div>
</div>
